.controlFooterCard{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.controlAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.controlArrow{
    
}

.containerAbout{
    margin-top: 3rem;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    margin-left: 4%;
}
.containerAbout div {
    display: flex;
    align-items: center;
}

.iconInsta{
    height: 6rem;
    width: 6rem;
    margin-right: 0.5rem;
    margin-left: 138rem;
}

.redeSocialText{
    font-size: 3rem;
}

@media screen and (max-width: 3280px){
.controlAbout{
    display: flex;

   
}

.containerAbout{
    margin-top: 1rem;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    margin-left: 60rem;
}
.containerAbout div {
    display: flex;
    align-items: center;
}

.iconInsta{
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    margin-left: 0rem;
}

.redeSocialText{
    font-size: 2rem;
}

}

@media screen and (max-width: 1580px){
    .controlAbout{
        display: flex;
        
        width: 68rem;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    .containerAbout{
        margin-top: 1rem;
    }
    .containerAbout div {
     
    }
    
    .iconInsta{
        height: 2rem;
        width: 2rem;
       margin-left: -14rem;
    }
    .redeSocialText{
        font-size: 1.5rem;
    }
    }

    @media screen and (max-width: 1080px){
        .controlAbout{
            width: 41rem;
        }
        
        .containerAbout{
            margin-top: 1rem;
            margin-left: 28rem;
        }
        .containerAbout div {
        }
        
        .iconInsta{
            height: 1.2rem;
            width: 1.2rem;
            margin-right: 0.5rem;
            margin-left: 0rem;
        }
        .redeSocialText{
            font-size: 0.9rem;
        }
        }

    @media screen and (max-width: 620px){
        .controlAbout{
            width: 21.5rem;
            
        }
        
        .containerAbout{
            margin-top: 1rem;
            
            margin-left: 9rem;
        }
        .containerAbout div {
        }
        
        .iconInsta{
            height: 1.2rem;
            width: 1.2rem;
            margin-right: 0.5rem;
            margin-left: 0rem;
        }
        .redeSocialText{
            font-size: 0.9rem;
        }
        }