.containerService{
    text-align: center;
    margin-top: 5rem;
    
}

.title{
    font-size: 5rem;
    position: relative;
  
}

.controlBackground{
    height: 0;
}
.imgBackgroundServices {
    margin-top: -4rem;
    width: 80%;
    height: 100rem;
}

.buttonViewServices{
   
    position: static;

}
.buttonViewServices div {
    margin-top: 2rem;
    
}

.buttonViewServices strong {
    width: 12rem;
    margin-left: 125rem;

   
    background-color: rgba(28, 116, 188, 0.812);
    padding: 0.5rem;
    border-radius: 8%;
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    color: white;
}

.services {
   display: grid;
   grid-template-columns: 50rem 50rem 50rem 50rem;
   text-align: center;
   justify-content: center;
   margin-top: 4rem;
   
}

.controlServices{
    width: 47.5rem;
    height: 30rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}


.controlImg {
    height: 28rem;
    box-shadow: rgba(15, 110, 187, 0.812) -1.5px 0px 12px 3px;
}

.imgService {
    width: 100%;
    height: 28rem;
    margin-top: 0rem;
}


.controlTextTwo{
    /* background-color: rgba(15, 110, 187, 0.412); */
    height: 4.9rem;
    width: 100%;
    margin-top: -8.5rem;
    position: static;
}

.space{
    height: 0.5rem;
}
.text {
    font-size: 3.4rem;
    margin-left: 0rem;
    margin-top: 0rem;
    color: white;   
}



@media screen and (max-width: 3280px){

.containerService{
  
}

.title{
    font-size: 2.5rem;
}

.controlBackground{

}
.imgBackgroundServices {
    margin-top: -4rem;
    width: 80rem;
    height: 60rem;
    margin-left: auto;
    margin-right: auto;
}


.buttonViewServices div {
    margin-top: 2rem;
    
}

.buttonViewServices strong {
    width: 12rem;
    margin-left: 60rem;

   
    background-color: rgba(28, 116, 188, 0.812);
    padding: 0.5rem;
    border-radius: 8%;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0.5rem;
    color: white;
}
.services {
   display: grid;
   grid-template-columns: 23.5rem 23.5rem 23.5rem 23.5rem;
   text-align: center;
   justify-content: center;
   margin-top: 2rem;
   
}

.controlServices{
    width: 22.5rem;
    height: 17.7rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
}


.controlImg {
    height: 17.5rem;
    box-shadow: rgba(15, 110, 187, 0.812) -1.5px 0px 12px 3px;
}



.imgService {
    width: 100%;
    height: 17.5rem;
    margin-top: 0rem;
}


.controlTextTwo{
    /* background-color: rgba(15, 110, 187, 0.412); */
    height: 4.9rem;
    width: 100%;
    margin-top: -5rem;
    position: relative;
}

.space{
    height: 0.5rem;
}
.text {
    font-size: 1.8rem;
    margin-left: 0rem;
    margin-top: 0rem;
    color: white;   
}

}

@media screen and (max-width: 1520px){

    .containerService{
     
    }
    
    .title{
        font-size: 2.5rem;
    }
    
    .controlBackground{
    
    }
    .imgBackgroundServices {
    
        width: 80%;
        height: 60rem;
        
    }

    .buttonViewServicesControl{

    }
    
    .buttonViewServices{
       
        margin-left: auto;
        margin-right: auto;
    }

    .buttonViewServices div{
         margin-left: auto;
        margin-right: auto;
    }
    .buttonViewServices strong{
        margin-left: 50rem;
    }

    .services {
       display: grid;
       grid-template-columns: 17rem 17rem 17rem 17rem;
       text-align: center;
       justify-content: center;
       margin-top: 2rem;
       margin-left: 1.5%;
    }
    
    .controlServices{
        width: 15.5rem;
        height: 14.5rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    
    .controlImg {
        height: 14.5rem;
        box-shadow: rgba(15, 110, 187, 0.812) -1.5px 0px 12px 3px;
    }
    
    .imgService {
        width: 100%;
        height: 14.5rem;
        margin-top: 0rem;
    }
    
    .controlTextTwo{
        /* background-color: rgba(15, 110, 187, 0.412); */
        height: 4.9rem;
        width: 100%;
        margin-top: -5rem;
        position: relative;
    }
    
    .space{
        height: 0.5rem;
    }

    .text {
        font-size: 1.8rem;
        margin-left: 0rem;
        margin-top: 0rem;
        color: white;   
    }

    .containerImg{
        
    }

    .buttonViewImage{
        
        
    }
}


@media screen and (max-width: 1080px){

    .containerService{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .title{
        font-size: 1.8rem;
    }

    .imgBackgroundServices {
        width: 40rem;  
    }

    .buttonViewServices{
        margin-top: 1rem;
    }

    .buttonViewServices strong{
        margin-left: 25rem;
        
    }

    .services {
        grid-template-columns:  22rem 1rem;
        justify-content: left;
     }

    .controlServices{
        width: 20rem;
        height: 14rem;
        margin-left: 0.8rem;
        
    }

     .controlImg {
        height: 14rem;
        width: 95%;
    }

    .text {
        font-size: 1.5rem;
    }

     .imgService {
        width: 100%;
        height: 14rem;
        margin-top: 0rem;
    }
   
    .controlText{
        
        width: 100%;
        
    }

    .controlTextTwo{
        height: 0rem;
    }

    .space{
        height: 1rem;
    }

   
}


@media screen and (max-width: 620px){

.containerService{
    width: 100%;
    margin-left: 0rem;
    
    margin-top: 0rem;
}

    .title{
        font-size: 1.2rem;
     
    }

    .imgBackgroundServices {
        width: 100%;  
        
    }

   
    .buttonViewServices strong{
        margin-left: 15rem;
        font-size: 0.8rem;
    }
    .services {
        grid-template-columns:  11.5rem 0%;
        justify-content: left;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
     }

    .controlServices{
       margin-left: -5.5rem;
        width: 11rem;
        height: 10rem;
       
    }

     .controlImg {
        height: 10rem;
        width: 95%;
    }

    .text {
        font-size: 1.1rem;
    }

     .imgService {
        width: 100%;
        height: 10rem;
        margin-top: 0rem;
    }
   
    .controlText{
        height: 3rem;
        width: 100%;
        margin-top: -3.2rem;
    }

    .controlTextTwo{
        height: 0rem;
    }

    .space{
        height: 1.8rem;
    }

   
}





