.container{
    background: rgba(201, 231, 248, 1);
    padding: 0rem 0rem 0.2rem 0rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo2{
    width: 34rem;
    height: 4rem;
    
}

.logo1{
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.containerTwo {
    height: 1.5rem;
    margin-top: 4.4%;
    width: 40%;
}

.containerTwo div {
    display: grid;
    grid-template-columns: 20% 25% 15% 15% 1%;
}
.containerTwo div strong{
    color: rgba(138, 110, 54, 1)
}

@media screen and (max-width: 1080px){

    .header{
        display: grid;
        justify-content: space-between;
    }

    .logo2{
        width: 19rem;
        height: 3rem;
    }
    
    .logo1{
        width: 4rem;
        height: 4rem;
        margin-right: 0.5rem;
    }
    

    .containerTwo div {
        display: grid;
        grid-template-columns: 52% 74% 42% 40% 0%;
        
    }

    .containerTwo div strong {
        font-size: 0.9rem;
        
    }

    .containerTwo div strong:nth-child(1){
        margin-left: 1rem;
    }

}
