.bacgroundFooter{
    background: var(--blue-standard);
    width: 100%;
}

.containerFooter {
    height: 52rem;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 22% 50% 30%;
    width: 190rem;
    justify-content: left;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}



.title {
    margin-top: 2rem;
    font-size: 5rem;
    margin-left: 0rem;
}



.containerMenu{
    display: grid;
    line-height: 2.4;
   

    margin-top: 1.3rem;
}

.containerMenu strong{
    font-size: 3rem;
}

.controlAbout{
    
}

.controlFooter {
    margin-left: auto;
    margin-right: auto;
}

.containerAbout{
    margin-top: 1rem;
    display: flex;
    line-height: 3;
    margin-left: 1rem;
    align-items: center;
}

.iconAbout{
    margin-right: 0.5rem;
    font-size: 4rem;
}

.iconAbout:nth-child(2){
    margin-right: 0.5rem;
}

.aboutText {
    margin-top:0rem;
    font-size: 3rem;
}

.containerAbout p {
    margin-left: 0.5rem;
    font-size: 3rem;
}

.redeSocialText{
    margin-top: 0rem;
    font-size: 3rem;
}

.iconInsta{
    height: 6rem;
    width: 6rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 3280px){
.containerFooter {
    height: 25rem;
    margin-top: 6rem;
    width:  90rem;

    grid-template-columns: 26% 52% 30%;
}

.title {
    font-size: 2rem;
    margin-left: 0rem;
}

.containerMenu{
    line-height: 1.8;
 
    margin-top: 1rem; 
}

.containerMenu strong{
    font-size: 1.6rem;
    
}

.controlFooter {
    margin-left: 0rem;
    margin-top: 2rem;
  
    
}
.controlAbout{
  
    
}

.containerAbout{
    
    margin-top: 1rem;
    width: 100%;
    display: flex;
    line-height: 2.5;
    margin-left: 0rem;
    align-items: center;
}

.iconAbout{
    margin-right: 0.5rem;
    font-size: 2.5rem;
}

.iconAbout:nth-child(2){
    margin-right: 0.5rem;
}

.aboutText {
    font-size: 1.6rem;
    margin-top:0rem;
}

.containerAbout p {
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

.redeSocialText{
    margin-top: 0rem;
    font-size: 1.4rem;
}

.iconInsta{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
}
}

@media screen and (max-width: 1580px){
    .containerFooter {
        height: 25rem;
        margin-top: 6rem;
        width: 70rem;
     
        grid-template-columns: 25% 45% 25%;
    }
    
    .title {
        font-size: 2rem;
        
    }
    
    .titleOne{
        font-size: 2rem;
        
    }
    
    .containerMenu{
        line-height: 1.8;
        margin-left: 0rem;
        width: 15rem;
        margin-top: 1rem;
        
    }
    
    .containerMenu strong{
        font-size: 1.6rem;
    }
    
    .controlFooter {
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .controlAbout{
        
    }
    
    .containerAbout{
        
        margin-top: 1rem;
        width: 100%;
        display: flex;
        line-height: 2.5;
        margin-left: 0rem;
        align-items: center;
    }
    
    .iconAbout{
        margin-right: 0.5rem;
        font-size: 1.5rem;
    }
    
    .iconAbout:nth-child(2){
        margin-right: 0.5rem;
    }
    
    .aboutText {
        font-size: 1.2rem;
        margin-top:0rem;
    }
    
    .containerAbout p {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    
    .redeSocialText{
        margin-top: 0rem;
        font-size: 1.2rem;
    }
    
    .iconInsta{
        height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
    }
    }

@media screen and (max-width: 1080px){
    .containerFooter {
        height: 26rem;
        margin-top: 1.5rem;
        display: grid;
     
       width: 40rem;
        grid-template-columns: 20rem;
        justify-content: center;
        text-align: center;
    }
    
    .controlFooter {
       
        margin-top: 1rem;
        width: 25rem;
        margin-left: -1rem;
      
    }
    .controlFooter:nth-child(3){
        
        height: 5rem;
    }
    
    .title {
        font-size: 1.2rem;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    
  
    
    .containerMenu{
        display: grid;
        grid-template-columns: 50% 55% 55%;
        margin-top: 1rem;    
    }

    .containerMenu strong {
        font-size: 0.8rem;
    }

    .controlAbout{
        display: grid;
        grid-template-columns: 64% 0%;
        align-items: center;
        width: 90%;
        margin-left: 1rem;
       
       
    }
    
    .containerAbout{
        
        line-height: 1;
    }
    
    .iconAbout{
     
    }
    
    .iconAbout:nth-child(2){
        
      
    }
    
    .aboutText {
 
    }
    
    .containerAbout p {
        font-size: 0.8rem;
        
    }
    
    .redeSocialText{
        font-size: 0.8rem;
  
    }
    
    .iconInsta{
        height: 1.7rem;
        width: 1.7rem;
        margin-right: 0.5rem;
    }
}


@media screen and (max-width: 620px){
    .containerFooter {
        height: 26rem;
        margin-top: 1.5rem;
        display: grid;
        width: 0rem;
        grid-template-columns: 20rem;
        justify-content: center;
        text-align: center;
        
    }
    
    .controlFooter {
        margin-top: 1rem;
        width: 21.5rem;
        
    }

    .controlFooter:nth-child(3){
        height: 5rem;
    }
    
    .title {
        font-size: 1.2rem;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    
    .containerMenu{
        display: grid;
        grid-template-columns: 45% 50% 55%;
        margin-top: 1rem;    
    }

    .containerMenu strong {
        font-size: 0.8rem;
    }

    .controlAbout{
        display: grid;
        grid-template-columns: 50% 0%;
        align-items: center;
        width: 90%;
        margin-left: 1.5rem;
    }
    
    .containerAbout{
        line-height: 1;
    }
    
    .iconAbout{
     font-size: 1rem;
    }
    
    .iconAbout:nth-child(2){
        
      
    }
    
    .aboutText {
        font-size: 0.9rem;
    }
    
    .containerAbout p {
        font-size: 0.8rem;
        
    }
    
    .redeSocialText{
        font-size: 0.8rem;
  
    }
    
    .iconInsta{
        height: 1.7rem;
        width: 1.7rem;
        margin-right: 0.5rem;
    }
}