.descriptionAbout{
    margin-top:  5rem;
    width: 140rem;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }
 
 .teacher {
     display: flex;
     gap: 0.5rem;
     margin-top: 0rem;
     width: 100rem;
     margin-left: 40rem;
     flex-direction: column;
     text-align: left;
     box-shadow: 2px 3px 8px 4px rgba(20, 82, 156, 1);
     position: relative;
     margin-bottom: 4rem;
 }
 
 .descriptionTeacherContainer{
     margin-top: 0rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .descriptionTeacherText{
     display: flex;
     line-height: 1.25;
     font-size: 3.875rem;
     font-weight: 500;
     align-items: center;
     gap: 0.5rem;
 }
 
 .descriptionTeacherIcon{
     margin-left: 0.8rem;
     font-size: 6rem;
 }
 
 
 .descriptionTeacherName{
     width: 100%;
     font-weight: 700;
 }
 
 .descriptionTeacherOffice{
     font-size: 2.75rem;
     line-height: 1rem;
     border-radius: 0.25rem;
     padding-top: 0.125rem;
     padding-bottom: 0.125rem;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     border-width: 1px;
     font-weight: 700;
     margin-left: 1.75rem;
     margin-right: 0.25rem;
 
 }

 .descriptionTeacherContainerInfo{
    display: flex;    
}
 
 .descriptionTeacherImageContainer{
     
 }
 
 .descriptionTeacherImageSpace{
     width: 44%
 }
 
 .descriptionTeacherImage{
     height: 12rem;
     width: 12rem;
     border-radius: 9999px;
     border-width: 2px;
     border-color: rgb(129 216 247);
     margin-left: 0.8rem;
 }
 
 .textAbout{
     margin-left: 0.8rem;
 }
 
 .titleAboutProfile{
    font-size: 3.2rem;
     margin-top: 1rem;
     line-height: 1.5;
 }
 
 .controlImg{
     height: 1rem;
 }
 
 .imgAboutProfile {
     margin-top: -47rem;
     width: 100%;
     height: 133rem;
 }
 
 .controlText{
     width: 100%;
     display: flex;
     margin-top: 0rem;
     margin-left: 0%;
 }
 
 .profile1 {
     margin-top: -18rem;
     width: 50rem;
     height: 45rem;
     margin-left: 0rem;
 }
 
 .descriptionProfile{
     font-size: 3rem;
     line-height: 1.5;
     width: 140rem;
     margin-left: 0%;
     font-weight: 800;
     margin-bottom: 1rem;
     margin-left: 1rem;
 }

 @media screen and (max-width: 3280px){

    .descriptionAbout{
        margin-top:  5rem;
        width: 100rem;
        }
     
     .teacher {
         width: 65rem;
         margin-left: 30rem;
         margin-bottom: 2rem;
     }
     
     .descriptionTeacherContainer{
         margin-top: 0rem;
     }
     
     .descriptionTeacherText{
         line-height: 1.25;
         font-size: 2.5rem;
     }
     
     .descriptionTeacherIcon{
         font-size: 4rem;
     }
     
     
     .descriptionTeacherName{
       
     }
     
     .descriptionTeacherOffice{
         font-size: 2.2rem;
     }
    
     .descriptionTeacherContainerInfo{
        display: flex;    
    }
     
     .descriptionTeacherImageContainer{
         
     }
     
     .descriptionTeacherImageSpace{
         width: 44%
     }
     
     .descriptionTeacherImage{
         height: 8rem;
         width: 8rem;
        
     }
     
     .textAbout{
      
     }
     
     
     
     .titleAboutProfile{
         font-size: 1.4rem;
     }
     
     .controlText{
    
     }
     
     .profile1 {
      
        width: 32rem;
        height: 30rem;
        margin-left: -2rem;
    }
     
     .descriptionProfile{
         font-size: 1.8rem;
         width: 65%;
         margin-left: 0rem;
     }

    
 }

 
 @media screen and (max-width: 1580px){

    .descriptionAbout{
        margin-top:  2rem;
        width: 100%;
      
        }
     
     .teacher {
         width: 70%;
         margin-left: 18%;
         margin-bottom: 2rem;
         
     }
     
     .descriptionTeacherContainer{
         margin-top: 0rem;
         
     }
     
     .descriptionTeacherText{
         line-height: 1.25;
         font-size: 1.5rem;
     }
     
     .descriptionTeacherIcon{
         font-size: 4rem;
     }
     
     
     .descriptionTeacherName{
       
       
     }
     
     .descriptionTeacherOffice{
         font-size: 1.2rem;
     }
    
     .descriptionTeacherContainerInfo{
        display: flex;    
    }
     
     .descriptionTeacherImageContainer{
         
     }
     
     .descriptionTeacherImageSpace{
         width: 44%;
         
     }
     
     .descriptionTeacherImage{
         height: 6rem;
         width: 6rem;
        
     }
     
     .textAbout{
      
     }
     
     
     .titleAboutProfile{
         font-size: 1.5rem;
         
     }
     
     .controlText{
    
     }
     
     .profile1 {
        
        margin-top: -5rem;
        width: 22rem;
        height: 20rem;
        margin-left: -2rem;
    }
     
     .descriptionProfile{
    
         font-size: 1.2rem;
         width: 70%;
         margin-left: 0rem;
     }

    
 }

 
 @media screen and (max-width: 620px){

    .descriptionAbout{
        margin-top:  1rem;
        width: 100%;
      
        }
     
     .teacher {
         width: 98%;
         margin-left: 2%;
         margin-bottom: 2rem;
         
     }
     
     .descriptionTeacherContainer{
         margin-top: 0rem;
         
     }
     
     .descriptionTeacherText{
         line-height: 1.25;
         font-size: 1.2rem;
         margin-top: 0.5rem;
     }
     
     .descriptionTeacherIcon{
         font-size: 1.5rem;
     }
     
     
     .descriptionTeacherName{
       
       
     }
     
     .descriptionTeacherOffice{
         font-size: 1.2rem;
     }
    
     .descriptionTeacherContainerInfo{
        display: flex;    
    }
     
     .descriptionTeacherImageContainer{
         
     }
     
     .descriptionTeacherImageSpace{
   
     }
     
     .descriptionTeacherImage{
         height: 4.5rem;
         width: 4.5rem;
     }
     
     .textAbout{
      
     }
     
     
     .titleAboutProfile{
         font-size: 1.2rem;
         
     }
     
     .controlText{
        flex-direction: column;
     }
     
     .profile1 {
        margin-top: 23rem;
        width: 8rem;
        height: 8rem;
        margin-left: 0rem;
    }
     
     .descriptionProfile{
    
         font-size: 1.1rem;
         width: 100%;
         margin-top: -31rem;
         margin-left: 0rem;
     }

    
 }