.containerVideos{
    margin-top: 8rem;
}

.controlImgTwo{
    height: 1rem;
}

.imgAboutProfile {
    margin-top: 0rem;
    width: 100%;
    height: 105rem;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.title h1{
    font-size: 5rem;
}

.videosSelectedLoading{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 18rem;
    
}
.iconLoading{
    margin-left: 42%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.videosSelected{
    text-align: center;
}

.videosSelected iframe {
    width: 190rem;
    height: 80rem;
}

.videosArea{
    height: 20rem;
    width: 100%;
}


.backgroundVideosArea{
    border-radius: 2%;
    height: 18rem;
    margin-top: 0;
}

.controlVideoArea {
    width: 90%;
    display: grid;
    grid-template-columns: 44rem 44rem ;
    margin-left: 0.5rem;
    margin-top: 2rem;
    height: 19.2rem;
}


.scrollContainer::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient(to top, #00ccff, #0059ff);
    
  }
  .scrollContainer::-webkit-scrollbar{
      top: 0;
      right: 0;
      height: 15px; 
      background: rgba(8, 2, 65, 0.411);
  }

.scrollContainer{
  width: 190rem;
  height: 38.5rem; /* Defina a altura que desejar */
  overflow-x: scroll; /* Cria a barra de rolagem horizontal */
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  flex-direction: row;
  }

.box{
    text-align: center;
    align-items:center;
    width: 40rem;
    margin-top: 0.5rem;
}

.space{
    height: 0.8rem;
}

.box:nth-child(1){
    margin-left: 0rem;
}

.text {
    font-size: 4rem;
    color: white;
}

.controlBox{
    height: 1.5rem;
    width: 100%;
}

.controlBox div{
    width: 99.8%;
    height: 4.6rem;
    position: relative;
}


.videoSmall {
    margin-top: -4.5rem;
    height: 32rem;
    width: 100%;
}

.controlText1{
    
    /* background-color: #2286FB; */
    position: relative;
    height: 10rem;
    width: 100%;
    margin-left: 0rem;
    margin-top: -1.4rem;
   
}

.controlTextTwo{
    height: 3rem;
    margin-top: 0rem;
}


.logoYoutube{
    margin-top: 12%;
    opacity: 0.8;
    height: 10rem;
    width: 10rem;
}

.footerBox{
    margin-top: 1.8rem;
    position: relative;
    height: 3rem;
}

.viewVideo{
    width: 65%;
    height: 2rem;
    margin-top: 0.6rem;
}

.buttonViewVideo{
    background-color: transparent;
    border: none;
}

.textViewVideo{
    font-size: 3rem;
    color: white;
}

.containerVideosTwo{
    margin-top: 6rem;
}

.titleTwo{
    text-align: center;
}

.recommendationArea {
    display: flex;
    width: 190rem;
    height: 45rem; /* Defina a altura que desejar */
    overflow-x: scroll; /* Cria a barra de rolagem horizontal */
    overflow-y: hidden;
    margin-top: 0rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.recommendationArea::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient(to top, #00ccff, #0059ff);
  }

  .recommendationArea::-webkit-scrollbar{
      top: 0;
      right: 0;
      height: 35px; 
      background: rgba(8, 2, 65, 0.411);
  }

.controlRecommendationArea {
    height: 21rem;
    display: flex;
}
.a {
    display: flex;
    background-color: #BFDDFF;
    border-radius: 1%;
}

.recommendationArea div {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.recommendationArea div iframe{
    width: 50rem;
    height: 40rem;
    margin-left: 1rem;
}

.recommendationArea div:nth-child(1) {
    margin-left: 0rem;
}



@media screen and (max-width: 3280px){
.containerVideos{
    margin-top: 0rem;
}

.controlImgTwo{
    height: 1rem;
}

.imgAboutProfile {
    height: 82rem;
}

.title{

}

.title h1{
    font-size: 2.5rem;
}


.videosSelected{
   
}

.videosSelected iframe {
    
   
    max-width: 1380px;
    max-height: 85vh;
}

.videosArea{
    height: 20rem;
    
}

.backgroundVideosArea{
    border-radius: 2%;
    height: 18rem;
    margin-top: 0;
}

.controlVideoArea {
   
    display: grid;
    grid-template-columns: 22rem 22rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    height: 19.2rem;
}


.scrollContainer::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient(to top, #00ccff, #0059ff);
  }
  .scrollContainer::-webkit-scrollbar{
      height: 15px; 
  }

.scrollContainer{
    width: 92rem;
  height: 25rem; /* Defina a altura que desejar */
  margin-top: 0rem;
  }

.box{
    text-align: center;
    align-items:center;
    width: 20rem;
    margin-top: 0.5rem;
    
}

.space{
    height: 0.5rem;
}

.box:nth-child(1){
    margin-left: 0rem;
}

.text {
    font-size: 2rem;
    color: white;
}

.controlBox{
    height: 1.5rem;
    width: 100%;
}

.controlBox div{
    width: 99.8%;
    height: 4.6rem;
    position: relative;
}


.videoSmall {
    margin-top: -3rem;
    height: 18rem;
    width: 100%;
}

.controlText1{
    
    /* background-color: #2286FB; */
    position: relative;
    height: 6rem;
    width: 100%;
    margin-left:0rem;
    margin-top: -0rem;
}

.controlTextTwo{
    height: 3rem;
    margin-top: 0rem;
}


.logoYoutube{
    margin-top: 10%;
    opacity: 0.8;
    height: 4rem;
    width: 4rem;
}

.footerBox{
    margin-top: 3rem;
    position: relative;
    height:3rem;
  
}

.viewVideo{
    width: 60%;
    height: 3rem;
    margin-top: 0rem;
}

.buttonViewVideo{
    background-color: transparent;
    border: none;
}

.textViewVideo{
    font-size: 1.4rem;
    color: white;
}




.containerVideosTwo{
    margin-top: 6rem;
    
}

.titleTwo{
    font-size: 1.5rem;
}

.recommendationArea::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient(to top, #00ccff, #0059ff);
  }

  .recommendationArea::-webkit-scrollbar{
      top: 0;
      right: 0;
      height: 15px; 
      background: rgba(8, 2, 65, 0.411);
  }


.recommendationArea {
    margin-top: 1rem;
    display: flex;
    width: 92rem;
    height: 34rem;
    margin-left: auto;
    margin-right: auto;
    
}

.controlRecommendationArea {
    height: 28rem;
    display: flex;
}
.a {
    display: flex;
    background-color: #BFDDFF;
    border-radius: 1%;
}

.recommendationArea div {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.recommendationArea div iframe{
    width: 45rem;
    height: 30rem;
    margin-left: 1rem;
}

.recommendationArea div:nth-child(1) {
    margin-left: 0rem;
}


}

@media screen and (max-width: 1580px){
    .containerVideos{
        margin-top: 0rem;
    }
    
    .controlImgTwo{
        height: 1rem;
    }
    
    .imgAboutProfile {
        height: 45rem;
    }
    
    .title{
    
    }
    
    .title h1{
        font-size: 2.5rem;
    }
    
    
    .videosSelected{
       
    }
    
    .videosSelected iframe {   
        max-width: 960px;
        max-height: 88vh;
    }
    
    .videosArea{
        height: 20rem;
        
    }
    
    .backgroundVideosArea{
        border-radius: 2%;
        height: 18rem;
        margin-top: 0;
    }
    
    .controlVideoArea {
       
        display: grid;
        grid-template-columns: 16rem 16rem;
        margin-left: 0.5rem;
        margin-top: 0rem;
        height: 15.2rem;
    }
    
    
    .scrollContainer::-webkit-scrollbar-thumb{
        border-radius: 6px;
        background: linear-gradient(to top, #00ccff, #0059ff);
      }
      .scrollContainer::-webkit-scrollbar{
          height: 15px; 
      }
    
    .scrollContainer{
      width: 70rem;
      height: 18rem; /* Defina a altura que desejar */
      margin-top: 0rem;
      }
    
    .box{
        text-align: center;
        align-items:center;
        width: 15rem;
        margin-top: 0.5rem;
        
    }
    
    .space{
        height: 0.5rem;
    }
    
    .box:nth-child(1){
        margin-left: 0rem;
    }
    
    .text {
        font-size: 1.5rem;
        color: white;
    }
    
    .controlBox{
        height: 1.5rem;
        width: 100%;
    }
    
    .controlBox div{
        width: 99.8%;
        height: 4.6rem;
        position: relative;
    }
    
    
    .videoSmall {
        margin-top: -3rem;
        height: 14rem;
        width: 100%;
    }
    
    .controlText1{
        
        /* background-color: #2286FB; */
        position: relative;
        height: 5rem;
        width: 100%;
        margin-left:0rem;
        margin-top: -0rem;
    }
    
    .controlTextTwo{
        height: 1rem;
        margin-top: 0rem;
    }
    
    
    .logoYoutube{
        margin-top: 10%;
        opacity: 0.8;
        height: 3.5rem;
        width: 3.5rem;
    }
    
    .footerBox{
        margin-top: 1.8rem;
        position: relative;
        height:3rem;
      
    }
    
    .viewVideo{
        width: 60%;
        height: 3rem;
        margin-top: 0rem;
    }
    
    .buttonViewVideo{
        background-color: transparent;
        border: none;
    }
    
    .textViewVideo{
        font-size: 1rem;
        color: white;
    }
    
    
    .containerVideosTwo{
        margin-top: 6rem;
        
    }
    
    .scrollContainerTwo::-webkit-scrollbar-thumb{
        border-radius: 6px;
        background: linear-gradient(to top, #00ccff, #0059ff);
      }
    
      .scrollContainerTwo::-webkit-scrollbar{
          top: 0;
          right: 0;
          height: 12px; 
          background: rgba(8, 2, 65, 0.411);
      }
    
    .scrollContainerTwo{
        width: 80%;
      height: 20rem; /* Defina a altura que desejar */
      margin-top: 0rem;
      }
    
    .recommendationArea {
        display: flex;
        width: 70rem;
        height: 22rem;
        
        
    }
    
    .a {
        display: flex;
        background-color: #BFDDFF;
        border-radius: 1%;
    }
    
    .recommendationArea div {
        margin-left: 1rem;
        margin-top: 0.3rem;
    }
    
    .recommendationArea div iframe{
        width: 30rem;
        height: 18rem;
        margin-left: 1rem;
    }
    
    .recommendationArea div:nth-child(1) {
        margin-left: 0rem;
    }
    
    
    }

@media screen and (max-width: 1080px){
    .containerVideos{
        margin-top: -14rem;
    }
    
    .imgAboutProfile {
        margin-top: 4rem;
        width: 100%;
        height: 40rem;
    }

    .title{
        margin-bottom: 1.5rem;
    }
    .titleTwo{
       
    }
    
    .title h1{
        font-size: 1.8rem;
    }
    
    .videosSelected{}
    
    .videosSelected iframe {
        width: 42rem;
        height: 22rem;
    }
    
    .videosArea{
        height: 14rem;
        width: 100%;
        
    }
    
    
    
    .controlVideoArea {
        height: 17rem;
        margin-left: 0rem;
        
    }
    .scrollContainer{
        width: 42rem;
        
        height: 18.7rem;
    }
    
    
    .controlBox div{
        width: 0rem;
    }
    
    .videoSmall {
        height: 15rem;
        width: 98%;
    }
    
    .controlText{
       
    }
    
    .controlText1{
        
    }
    .controlTextTwo{
        height: 3rem;
        margin-top: 0rem;
    }
    
    .space{
        height: 1rem;
    }
    
    .logoYoutube{
        height: 4rem;
        width: 4rem;
    }
    
    
    .footerBox{
   
    }
    
    .viewVideo{
        margin-top: 2rem;
    }
    
    .textViewVideo{
        
    }

    .scrollContainerTwo{
        height: 21.2rem; 
        
        margin-top: 0rem;
    }
    
    .recommendationArea {
        width: 42rem;
    }
    
    .controlRecommendationArea {
        height: 19rem;
        display: flex;
        
        
    }
    .recommendationArea div {
        margin-left: 1rem;
    }
    
    .recommendationArea div iframe{
        width: 20rem;
        height: 18rem;
    }
    
    .recommendationArea div:nth-child(1) {
        margin-left: -0.1rem;
    }
    
    

}

@media screen and (max-width: 620px){
    .videosSelected iframe{
        width: 22rem;
    }

    .scrollContainer{
        width: 22rem;
    }

    .recommendationArea {
        width: 22rem;
    }
}