.whatsContainer {
   align-items: center;
   text-align: center;
   justify-content: center;
}



.controlWhatsText{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100rem;
}

.whatsText{
    margin-top: 43vh;
    width: 100%;
    animation: textWhats;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-direction: alternate;
    transition-timing-function: ease;
    opacity: 0;
    text-align: center;
    position: fixed;
}

.whatsTextText{
    background: green;
    border-radius: 6%;
    color: white;
    font-weight: 800;
    width: 45rem;
    margin-left: 165rem;
    margin-right: auto;
    padding: 1.5rem;
    font-size: 3rem;
}


    @keyframes textWhats {
    0% {
        opacity: 0;
    }
  
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
    

.whatsLogo {
    width: 10rem;
    height: 10rem;
    margin-top: 50vh;
    position: fixed;
    margin-left: 95rem;
    margin-right: auto;
}

@media screen and (max-width: 3280px){
.whatsContainer {
   
    
}

.whatsLogo {
    width: 4rem;
    height: 4rem;
    position: fixed;
    margin-left: 44%;
}


.whatsText{
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
    margin-top: 44.4vh;
    margin-left: 82%;
}

.whatsTextText{
    width: 15rem;
    font-size: 1rem;
    margin-left: 0%;
    padding: 0.2rem;
}

}

@media screen and (max-width: 3280px){
.whatsContainer {
   
    
}

.whatsLogo {
    width: 3rem;
    height: 3rem;
    position: fixed;
    margin-left: 44%;
}


.whatsText{
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
    margin-top: 44vh;
    margin-left: 82%;
}

.whatsTextText{
    width: 11rem;
    font-size: 0.8rem;
    margin-left: 0%;
    padding: 0.2rem;
}

}

@media screen and (max-width: 1080px){
    .whatsLogo {
        width: 2.2rem;
        height: 2.2rem;
        margin-top:40rem;
        position: fixed;
        margin-left: 90%;
    }

    .whatsText{
       
        width: 8rem;
        margin-top: 38.5rem;
        margin-left: 67%;
        border-radius: 6%;
        height: 1.2rem;
        text-align: center;
        animation: textWhats;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 1s;
        animation-direction: alternate;
        transition-timing-function: ease;
        color: white;
        font-weight: 800;
        padding: 0.2rem;
        font-size: 0.7rem;
        opacity: 0;
    }

    @keyframes textWhats {
        0% {
            opacity: 0;
        }
      
        50% {
            opacity: 1;
        }
        
        100% {
            opacity: 0;
        }
    }
    

}